h4 {
  margin-bottom: 20px;
}

.App {
  text-align: center;
  height: 100vh;
  background-color: #202020;
  background-image: url('pizza.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 90vh;
  background-position: 50% 80px;
  overflow: hidden;
}

.classNavBar {
  background-color: #181818 !important;
}

.Intro {
  padding: 30%;
  padding-top: 20%;
}

.Intro h1 {
  font-size: 500%;
  font-family: 'Fredoka One', cursive;
}

.IntroElements {
  width: 100%;
  height: 100%;
}

.IntroElements h1 {
  color: white;
}

.profileImg {
  width: 100%;
  height: 40px;
  flex-wrap: nowrap;
}

.profileImg img {
  flex-wrap: nowrap;
  float: right;
  width: 40px;
  height: 40px;
}

.Deliverylist {
  display: flex;
  justify-content: space-between;
  margin: auto 15px;
  list-style-type: none;
  font-size: .90em;
}

.ListTitle {
  margin-top: 10px;
  margin-bottom: 50px;
}

.ListTitle h2 {
  margin-top: 1.1em;
  font-size: 3.5em;
  color: white;
}

.Deliverylist h4 {
  font-size: 2.5em;
  color: white;
}

.Deliverylist li {
  margin: 5px;
  color: tomato;
}

.Deliverylist button {
  border: none;
  height: 1px;
  color: tomato;
}

.NavBrand {
  font-family: 'Fredoka One', cursive;
  color: tomato !important;
  text-shadow: 0 0 0px tomato, 0 0 5px tomato, 0 0 15px tomato, 0 0 25px tomato, 0 0 35px tomato, 0 0 50px tomato, 0 0 70px tomato !important;
}

.nav-link {
  color: tomato !important;
  text-shadow: 0 0 5px tomato, 0 0 10px tomato, 0 0 20px tomato, 0 0 30px tomato, 0 0 40px tomato, 0 0 55px tomato, 0 0 75px tomato !important;
}

.nav-dropdown {
  background-color: #080808;
  text-shadow: 0 0 5px tomato, 0 0 10px tomato, 0 0 20px tomato, 0 0 30px tomato, 0 0 40px tomato, 0 0 55px tomato, 0 0 75px tomato !important;
}

.nav-dropdown-item {
  color: tomato !important;
}

span.navbar-toggler-icon {
  color: tomato !important;
  background-color: tomato !important;
  box-shadow: 0 0 0px tomato, 0 0 0px tomato, 0 0 0px tomato, 0 0 0px tomato, 0 0 1px tomato, 0 0 5px tomato, 0 0 25px tomato !important;
}

.ValueSubmit input {
  border: none;
  margin-top: 1.5em;
  font-size: 20px;
  width: 8em;
  border: solid .9px tomato;
  border-radius: 15px;
  color: rgb(255, 255, 255);
  background: rgba(255, 99, 71, 0.4);
}

.ValueSubmit input:hover {
  color: rgb(255, 255, 255);
  background: rgba(255, 99, 71, .7);
}

.AddressValue {
  font-size: 1.5em;
  margin-top: 2.2em;
  color: whitesmoke;
}

.AddressValue input {
  margin-top: 1em;
  color: white;
  background-color: inherit;
  border: none;
  border-bottom: solid .01px tomato;
}

.AddressValue input:focus {
  /* box-shadow: 0 0 0px tomato, 0 0 0px tomato, 0 0 0px tomato, 0 0 5px tomato, 0 0 15px tomato, 0 0 30px tomato, 0 0 50px tomato !important; */
  -webkit-box-shadow: 0 10px 6px -6px tomato;
  -moz-box-shadow: 0 10px 6px -6px tomato;
  box-shadow: 0 10px 6px -6px tomato;
}

.TipValue {
  font-size: 1.5em;
  margin-top: 1.5em;
  color: whitesmoke;
}

.TipValue input {
  margin-top: 1em;
  color: white;
  background-color: inherit;
  border: none;
  border-bottom: solid .01px tomato;
}

.TipValue input:focus {
  /* box-shadow: 0 0 5px tomato, 0 0 10px tomato, 0 0 20px tomato, 0 0 30px tomato, 0 0 40px tomato, 0 0 55px tomato, 0 0 75px tomato !important; */
  -webkit-box-shadow: 0 10px 6px -6px tomato;
  -moz-box-shadow: 0 10px 6px -6px tomato;
  box-shadow: 0 10px 6px -6px tomato;
}

.TotalNum {
  margin-top: .5em;
  font-size: 3.5em;
  font-family: 'Lato', sans-serif;
  color: whitesmoke;
}

.TotalDisplay h2 {
  margin-top: 10px;
}

.Standings {
  color: white;
}

.Standings ul {
  list-style: none;
  padding: 0;
  width: 30%;
  margin: auto;
  color: white;
}

.Standings li {
  font-size: 1.3rem;
  line-height: 2rem;
  border-bottom: 1px dotted;
  color: white;
}

@media only screen and (max-width: 414px) {
  .app {
    background-size: 100vh;
    background-position: 0% 0%;
    ;
  }

  .profileImg {
    width: 45%;
    height: 40px;
    flex-wrap: nowrap;
  }

  .profileImg img {
    flex-wrap: nowrap;
    float: right;
    width: 40px;
    height: 40px;
  }

  .Intro {
    padding: 5%;
    padding-top: 60%;
  }

  .Intro h1 {
    font-size: 2.5em;
    font-family: 'Fredoka One', cursive;
  }

  .IntroElements {
    width: 100%;
    height: 100%;
  }

  /* input */
  .TotalNum {
    margin-top: 1em;
    font-size: 3em;
    font-family: 'Lato', sans-serif;
    color: whitesmoke;
  }
}

@media only screen and (max-width: 375px) {
  .profileImg {
    width: 10%;
    height: 40px;
    flex-wrap: nowrap;
  }

  .profileImg img {
    flex-wrap: nowrap;
    float: left;
    width: 40px;
    height: 40px;
    margin-left: 45px;
  }

  .Intro {
    padding: 5%;
    padding-top: 60%;

  }

  .Intro h1 {
    font-size: 2.5em;
  }

  .IntroElements {
    width: 100%;
    height: 100%;
  }

  .ListTitle h2 {
    margin-top: .5em;
    font-size: 2.5em;
    color: white;
  }

  .Deliverylist h4 {
    font-size: 2em;
    color: white;
  }

  /* input */
  .TotalNum {
    margin-top: 1em;
    font-size: 1.5em;
    font-family: 'Lato', sans-serif;
    color: whitesmoke;
  }

  .AddressValue {
    margin-top: 1.1em;
  }

  .AddressValue input {
    margin-top: 1.5em;
  }

  .TipValue {
    margin-top: 1.1em;
  }

  .TipValue input {
    margin-top: 1.5em;
  }
}

@media only screen and (max-width: 320px) {
  .profileImg {
    width: 25%;
    height: 40px;
    flex-wrap: nowrap;
  }

  .profileImg img {
    flex-wrap: nowrap;
    float: right;
    width: 40px;
    height: 40px;
  }

  .Intro {
    padding: 5%;
    padding-top: 50%;

  }

  .Intro h1 {
    font-size: 2.5em;
  }

  .IntroElements {
    /*border: solid red;*/
    /*margin: auto;*/
    width: 100%;
    height: 100%;
  }

  .ListTitle h2 {
    margin-top: .5em;
    font-size: 2.5em;
    color: white;
  }

  .Deliverylist h4 {
    font-size: 2em;
    color: white;
  }

  .AddressValue {
    margin-top: 1.1em;
  }

  .AddressValue input {
    margin-top: 1.5em;
  }

  .TipValue {
    margin-top: 1.1em;
  }

  .TipValue input {
    margin-top: 1.5em;
  }

  .TotalNum {
    font-size: 1.5em;
  }

}

/* heights */
@media only screen and (max-height: 460px) {
  .TotalNum {
    margin-top: .5em;
  }

  .AddressValue {
    font-size: 1em;
  }

  .TipValue {
    font-size: 1em;
  }

  .AddressValue {
    margin-top: 1em;
    color: whitesmoke;
  }

  .AddressValue input {
    margin-top: 1em;
    color: white;
    background-color: inherit;
    border: none;
    border-bottom: solid .01px tomato;
  }

  .TipValue {
    margin-top: 1em;
    color: whitesmoke;
  }

  .TipValue input {
    margin-top: 1em;
    color: white;
    background-color: inherit;
    border: none;
    border-bottom: solid .01px tomato;
  }
}