.App {
  text-align: center;
}

.Intro {
  border: solid black;
  margin: 0 auto;
  width: 100%;
}

.Intro h1 {
  font-size: 5em;
}

.IntroElements {
  border: solid red;   
}

.profileImg {
  width: 100%;
  height: 40px;
  flex-wrap: nowrap;
}

.profileImg img {
  flex-wrap: nowrap;
  float: right;
  width: 40px;
  height: 40px;
}

.Deliverylist {
  display: flex;
  justify-content: space-between;
  margin: auto 15px;
  list-style-type: none;
}

.ListTitle {
  margin-top: 10px;
  margin-bottom: 50px;
}

.Deliverylist li {
  margin: 5px;
}

h4 {
  margin-bottom: 20px;
}

.Deliverylist button {
  border: none;
  height: 1px;
}

.ValueSubmit input {
  border: none;
  font-size: 20px;
}

.AddressValue {
  margin-top: 35px;
}

.AddressValue input {
  margin-top: 15px;
}

.TipValue {
  margin-top: -10px;
}

.TipValue input {
  margin-top: 15px;
}

.TotalNum {
  margin-top: 60px;
  font-size: 30px;
}

.TotalDisplay h2 {
  margin-top: 10px;
}

@media only screen and (max-width: 414px) {
  .profileImg {
  width: 45%;
  height: 40px;
  flex-wrap: nowrap;
}

.profileImg img {
  flex-wrap: nowrap;
  float: right;
  width: 40px;
  height: 40px;
}
}

@media only screen and (max-width: 375px) {
  .profileImg {
  width: 40%;
  height: 40px;
  flex-wrap: nowrap;
}

.profileImg img {
  flex-wrap: nowrap;
  float: right;
  width: 40px;
  height: 40px;
}
}

@media only screen and (max-width: 320px) {
  .profileImg {
  width: 25%;
  height: 40px;
  flex-wrap: nowrap;
}

.profileImg img {
  flex-wrap: nowrap;
  float: right;
  width: 40px;
  height: 40px;
}

}
