.App {
  text-align: center;
}

.Deliverylist {
  display: flex;
  justify-content: space-between;
  margin: auto 20px;
  border: solid black;
  list-style-type: none;
}

.Deliverylist li {
  margin: 5px;
}

h4 {
  margin-bottom: 20px;
}

.Deliverylist button {
  border: none;
  height: 1px;
}
